ion-content  {
  width:100%;
  height:100%;
}
//.swiper-pagination-bullet-active{
//  position:absolute;
//  left:1000px;
//}

.skipbutton{
  position: fixed;
  left: 83%;
  bottom: 0%;
  font-family:"Comic Sans MS";
}

ion-slide {
  height: 100vh;
  flex-direction: column;
}

ion-img {
  max-width: 80vw;
  max-height: 80vh;
  overflow: hidden;
}



.step-one {
  background:linear-gradient(to right,#b47b22,  #804936  );
  color: var(--ion-color-primary-contrast);
}

.step-two {
  background:linear-gradient(to right, #856e56, #804936 );
  color: var(--ion-color-primary-contrast);
}

.step-three {
  background:linear-gradient(to right  , #804936 , #b47b22 );
  color: var(--ion-color-primary-contrast);
}
.step-three,.step-one , .step-two{
  h1{
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 5px;
    color:#23befa;
    font-size:26px;
    font-family: "Comic Sans MS";
  }}

.step-one{
  ion-img{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
  }
}

.step-two{
  ion-img{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
  }
}