
<ion-list *ngIf="items.length > 0 " class="cardList">
    <ion-list-header>
        <ion-label class="listName">
           <b> {{listName}} </b>
        </ion-label>
    </ion-list-header>
    <ion-item [routerLink]="navigateTo(listName,item)" *ngFor="let item of items" class="deck">
        <ion-avatar slot="start">
            <img [src]="'/assets/image/'+ item + '.png'">
        </ion-avatar>
        <ion-label class="itemName">
            <h2>{{item}}</h2>
        </ion-label>
    </ion-item>
</ion-list>